{
	"arrowParens": "avoid",
	"jsxSingleQuote": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"singleAttributePerLine": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true
}
